$primary-color:#364f6b;
$secondary-color:#43dde6;
$info-color:#f3f169;
$light-color:#f0f0f0;

.preveiw {
  display: flex;
  flex-direction: column;
  position: relative;

  &-title {
    font-family: 'Mada', sans-serif;
    font-style: italic;
    color: $info-color;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    margin: 20px auto;

  }

  &-items {
    display: flex;
  }
}