$primary-color:#364f6b;
$secondary-color:#43dde6;
$warning-color:#f5d949;
$light-color:#f0f0f0;

.cast-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;
  }

  h3 {
    color: $light-color;
    opacity: 0.7;
  }

  .name {
    color: $warning-color;
    opacity: 1;
  }
}